<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SuggestWords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SuggestWords.Properties.Settings>
            <setting name="countAnswersFinal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorFinal" serializeAs="String">
                <value>MediumSlateBlue</value>
            </setting>
            <setting name="colortTextFinal" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="borderRadius" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="answersToDef" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="foneColor" serializeAs="String">
                <value>DarkSlateBlue</value>
            </setting>
            <setting name="disabledColor" serializeAs="String">
                <value>Indigo</value>
            </setting>
            <setting name="specialBorderRadius" serializeAs="String">
                <value>10</value>
            </setting>
        </SuggestWords.Properties.Settings>
    </userSettings>
</configuration>